:root {
    --border: #000000;
    --color-text: #fff;
    --cur: pointer;
}

* {
    transition: all .1s linear;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.box {
    border: 1px solid var(--border);
    border-radius: 15px;
}


/* sence1 - type ID room */

#sence1 {
    position: absolute;
    background-color: rgba(54, 54, 54, 0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 999;
}

.typeid-box {
    width: 500px;
    height: 300px;
    margin: auto;
    backdrop-filter: blur(10px);
    padding: 20px;
}

.typeid-box>div {
    display: flex;
    gap: 10px;
}

.typeid-box>p {
    color: var(--color-text);
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
}

#id-join {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #7e7e7e;
    color: var(--color-text);
    opacity: 0.5;
    padding: 8px;
    font-size: 1.8rem;
}

#id-join:focus {
    opacity: 1;
    border-bottom: 1px solid var(--border);
}

#join {
    cursor: pointer;
    flex-shrink: 0;
    outline: none;
    border: 1px solid var(--border);
    background-color: transparent;
    padding: 5px;
    border-radius: 20px;
    color: var(--color-text);
    font-size: 1.3rem;
}

#join:hover {
    background-color: #0099ff;
}

#myId {
    width: fit-content;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid var(--border);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    font-size: 2rem;
    font-style: italic;
}


/* sence1 - type ID room */

#sence2 {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background>img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

#header-bar {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px) brightness(70%);
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: var(--color-text);
    justify-content: space-between;
}

#header-bar>div {
    height: 100%;
    display: flex;
    align-items: center;
}

#header-bar>div>p {
    margin: 0 10px;
}

#idRoomNow {
    border: 2px solid var(--color-text);
    height: 90%;
    width: fit-content;
    padding: 7px 10px;
    border-radius: 20px;
    font-size: 2.2rem;
    background-color: #00000098;
}

#logo {
    height: 90%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

#logo>img {
    width: 100%;
}

#role {
    font-weight: 600;
    font-style: italic;
}


/* Main */

#main-box {
    margin: auto;
    height: calc( 100% - 12rem);
    width: 90%;
    max-width: 1000px;
    z-index: 1;
}

.mainboxitem {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.4rem;
    color: var(--color-text);
    border: 1px solid #00000073;
    backdrop-filter: blur(10px) brightness(70%);
}

.listener-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

#listenerNow {
    font-size: 1.8rem;
}

#plbox {
    margin: auto;
    max-width: 600px;
    min-width: 450px;
    width: 70%;
    height: calc(100vh - 300px);
    border: 1px solid #7e7e7e;
    border-radius: 5px;
    overflow-y: auto;
    background-color: #00000068;
}


/* item song */

.itemsongPl {
    user-select: none;
    cursor: var(--cur);
    margin: 5px auto;
    width: 90%;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    color: #cecece;
}

.avtSongPlbox {
    flex-shrink: 0;
    height: 4rem;
    aspect-ratio: 1;
    border-radius: 10%;
    overflow: hidden;
}

.avtSongPl {
    height: 100%;
}

.infoSongPl {
    margin-left: 10px;
}

.infoSongPl>p:nth-child(1) {}

.infoSongPl>p:nth-child(2) {
    font-size: 1rem;
}

.playnow {
    color: #fff;
    animation: playing 1s infinite;
}

.settinngitem {
    display: flex;
    gap: 20px;
    align-items: center;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #00000035;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: #57575722;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #b8b8b87d;
}

#checkAdFree {}

@media screen and (max-width: 700px) {
    #plbox {
        min-width: 90%;
        height: calc(100vh - 300px);
    }
}

@keyframes playing {
    0% {
        translate: 0 0px;
        background-color: transparent;
    }
    20% {
        translate: 0 6px;
    }
    40% {
        translate: 0 0px;
    }
    60% {
        translate: 0 3px;
    }
    80% {
        translate: 0 0px;
    }
    100% {
        translate: 0 0px;
    }
}