#box-music {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
}

.thumbnail-music {
    background-position: center;
    background-size: cover;
}

.info-music-1 {
    display: flex;
    align-items: center;
    height: 100%;
    width: 200px;
    flex-shrink: 0;
}

.type1 {
    height: 90%;
    aspect-ratio: 1;
    background-color: aliceblue;
    border-radius: 5px;
}

.text-info-music-1 {
    margin: 0 10px;
    color: var(--color-text);
}

.text-info-music-1>p:nth-child(1) {
    font-family: Arial, Helvetica, sans-serif;
}

.text-info-music-1>p:nth-child(2) {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* control boxx */

#control-music {
    width: 100%;
    height: 100%;
}

#control-btn-box {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.control-items {
    cursor: pointer;
    aspect-ratio: 1;
    display: flex;
    color: #fff;
    border-radius: 50%;
}

.control-items:nth-child(3) {
    height: 100%;
    font-size: 2rem;
}

.control-items:nth-child(1),
.control-items:nth-child(5) {
    height: 70%;
    font-size: 1.2rem;
}

.control-items:nth-child(2),
.control-items:nth-child(4) {
    font-size: 1.4rem;
    height: 80%;
}

.control-items>i {
    margin: auto;
}

#timeline-box {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-text);
}

#progbar {
    cursor: pointer;
    position: relative;
    width: 70%;
    height: 6px;
    background-color: var(--color-text);
    border-radius: 3px;
    overflow: hidden;
}

#progbar2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    background-color: rgb(0, 136, 255);
    height: 10px;
}

#progbar:hover #progbar3 {
    display: block;
}

#progbar3 {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    background-color: rgba(0, 0, 0, 0.372);
    height: 10px;
}

.volumeBox {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    color: var(--color-text);
}

#volume {
    cursor: pointer;
    width: 80px;
}

@media screen and (max-width: 700px) {
    html {
        font-size: 12px;
    }
    .volumeBox {
        display: none;
    }
    #box-music {
        width: 100vw;
    }
    .info-music-1 {
        width: fit-content;
        max-width: 110px;
    }
}